* {
    margin: 0;
    padding: 0;
}
body {
    background: black;    
}
header {    
    display: flex;
}

.header-wrap {
    background: rgb(255, 255, 255);
    border-radius: 20px;
    width: 20%;
    height: 200px;
    margin: 40px auto;    
    padding: 30px;
    text-align: center;
}

.header__container {
    font-size: 12px;
}
.container {
    font-size: 20px;
}